@import '_variable';
.blue{
    color:$blue;
}
.bg-blue{
    background-color:$blue;
}
.gray{
    background-color:$gray;
}
.bg-orange{
    background-color:$orange;
}
.orange{
    color:$orange;
}
.bg-white{
    background-color: $white;
}
.text-color{
    color: $gray2 !important;
}
.border{
border: 1px solid $orange !important;
border-radius: 5px !important;
}

.btn-primary{
    background-color: $orange !important;
}
.bg-footer{
    background-color: $darkblack;
}
.paragrap-color{
    color: $textgray !important;
}
// .btn{
//     .primery{
//         background-color: $orange;
//         color: $white;
//         padding: 10px 20px;
//         &:hover{
//             background-color: $blue;
//             color: $white;
//         }
//     }
// }